body {
    background-color:aquamarine
}
h1 {
    font-weight: 700;
    font-family:"Crimson Text" sans-serif;
}
p{
    font-family:"Merienda" sans-serif
}
.background-gradient {
    height: 100vh;
    width: 100%;
    background: linear-gradient(-45deg, #ffe600, #9efc08, #01fd11, #00f8bf);
    background-size: 400% 400%;
    animation: gradient-shift 5s ease infinite;
}
@keyframes gradient-shift {
    0% {
        background-position:0% 50%;
    }
    50% {
        background-position:100% 50%;
    }
    100% {
        background-position:0% 50%;
    }
}